@charset "UTF-8";

body{
    background-color: rgba(172, 255, 227, 0.699);
    font-family: Arial, Helvetica, sans-serif;

}
h1{
    color:rgb(0, 85, 57);
}
h1#principal{
    text-align: center;
    background-color: rgb(0, 85, 57);
    color: white;
    padding: 8px;
    border-radius: 20px;
    
}

.basico{
    color: rgb(2, 90, 253);
}

.int{
    color: rgb(160, 0, 253);
}

.adv{
    color: rgb(255, 40, 40);
}

h2{
    color: rgb(0, 85, 57);
}