@charset "UTF-8";


body{
    height: 100%;
    background-image: linear-gradient(to left, rgba(3, 101, 139, 0.815),rgba(112, 196, 218, 0.856));
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;

}

h1, h2{
    font-family: 'Times New Roman', Times, serif;
}

main{
    background-color: beige;
    padding: 20px;
    margin:auto;
    text-align:center;
    border-radius: 20px;
    width: 500px;
    box-shadow: 55px 55px 55px;
    
    
}


